<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>MultiMessenger</string>
    <key>CFBundleDisplayName</key>
    <string>MultiMessenger</string>
    <key>CFBundleIdentifier</key>
    <string>eu.montybanse.MultiMessenger</string>
    <key>CFBundleExecutable</key>
    <string>MultiMessenger</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.social-networking</string>
    <key>NSCameraUsageDescription</key>
    <string>Damit Videoanrufe in Diensten wie BigBlueButton, Meet oder Slack funktionieren.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Damit Sprach- und Videoanrufe in deinen Messengern funktionieren.</string>
    <key>NSHumanReadableCopyright</key>
    <string>MultiMessenger</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>eu.montybanse.MultiMessenger.url</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>mmsg</string>
            </array>
        </dict>
    </array>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>An MultiMessenger senden</string>
            </dict>
            <key>NSMessage</key>
            <string>handleShareService</string>
            <key>NSPortName</key>
            <string>MultiMessenger</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.url</string>
                <string>public.plain-text</string>
                <string>NSStringPboardType</string>
                <string>NSURLPboardType</string>
            </array>
            <key>NSRequiredContext</key>
            <dict/>
        </dict>
    </array>
</dict>
</plist>
